  <div id = "selectAndInput">
    <select id="mySelect" [(ngModel)] = "pageSize" (change)=loadPageTasks(page)>
      <option [ngValue] = "5">5</option>
      <option [ngValue] = "10">10</option>
      <option [ngValue] = "15">15</option>
    </select>
    <input id="myInput" type="text" placeholder="Filter" [(ngModel)] = "filter" (ngModelChange)="loadPageTasks('1')" name="filter">
  </div>
  <div>
    <table id="table" class="table table-dark table-hover">
    <thead class="thead-dark">
      <tr>
      <th scope="col">Task</th>
      <th scope="col">TicketCode</th>
      <th scope="col">Priority</th>
      <th scope="col">Status</th>
      <th scope="col">Created</th>
      <th scope="col">Update</th>
      <th scope="col">Due date</th>
      <th scope="col">Estimation</th>
      <th scope="col">Assignee</th>
      <th scope="col">Action</th>  
      </tr>
    </thead>
    <tbody id="myTable">
      <tr *ngFor="let task of tasks.content">
      <td>{{task.name}}</td>
      <td>{{task.ticketCode}}</td>
      <td>{{task.priority }}</td>
      <td>{{task.status}}</td>
      <td>{{task.createdDate}}</td>
      <td>{{task.updateDate}}</td>
      <td>{{task.dueDate}}</td>
      <td>{{task.estimation}}</td>
      <td>{{task.assignee.firstName + " " + task.assignee.secondName}}</td>
      <td><button class="btn btn-dark" [routerLink]="['/project-page', task.id]">Edit</button></td>
      </tr>
    </tbody>
    <tfoot>
    <ngb-pagination
      [collectionSize]="tasks.totalElements"
      [(page)]="page"
      [pageSize] = "pageSize"
      (pageChange) = "loadPageTasks($event)" aria-label="Default pagination">
    </ngb-pagination>
    </tfoot>
  </table>
</div>
  