<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <h2>New Project</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" [formGroup]="formControl">
      <label for = "code">Code</label>
      <input id = "code" type="text" class="form-control" formControlName="code" pattern="[0-9]{4}" />
      <label for = "name">Name</label>
      <input id = "name" type="text" class="form-control" formControlName="name"/>
      <label for = "summary">Summary</label>
      <input id = "summary" type="text" class="form-control" formControlName="summary" />
  </div>
  <div class="modal-footer">
    <button [disabled]="!formControl.valid" (click)="saveNewProject()" type="button" class="btn btn-default" data-dismiss="modal">Create</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
