<div class="m-3">
  <h2>Project code: {{task.project}}</h2>
  <form>
    <div class="container">
      <button type="button" class="btn btn-dark btn-lg" *ngIf="isRole.get('project manager')" (click) = "inableWriteMode()">Edit</button>
<!--      <button type="button" class="btn btn-dark col">Assign</button>-->
      <button type="button" class="btn btn-dark btn-lg" *ngIf="isRole.get('developer') && isStatus.get('open')" (click) = "changeStatus('in progress')">Start</button>
<!--      <button type="button" class="btn btn-dark col">Resolve</button>-->
      <button type="button" class="btn btn-dark btn-lg" *ngIf="isRole.get('developer') && isStatus.get('in progress')" (click)="changeStatus('ready for test')">Ready for test</button>
      <button type="button" class="btn btn-dark btn-lg" *ngIf="isRole.get('tester') && isStatus.get('ready for test')" (click)="changeStatus('open')">ReOpen</button>
      <button type="button" class="btn btn-dark btn-lg" *ngIf="isRole.get('tester') && isStatus.get('ready for test')" (click) = "changeStatus('closed')" >Close</button>
    </div>
    <h4>Details:</h4>
    <div [formGroup] = "formControl">
      <p>Priority: <select formControlName="priority">
        <option disabled="disabled">{{task.priority}}</option>
        <option *ngFor="let priority of taskPriority">{{priority.priority}}</option>
      </select> </p>
      <p>Status: {{task.status}} <!-- <select formControlName="status"><option *ngFor="let status of taskStatus">{{status.status}}</option></select> --></p>
      <p>Assignee: {{task.assignee.firstName + task.assignee.secondName}}</p>
      <p>Reported: {{task.reporter.firstName + task.reporter.secondName}}</p>
      <p>Estimation: <input formControlName="estimation" placeholder="{{task.estimation}}"></p>
    </div>
    <h4>Description:</h4>
    <div class="container">
      <div class="row">
        <textarea class="col" rows="10" [(ngModel)] = "task.description" name="description">{{task.description}}</textarea>
        <div class="col">
          <div class="container">
            <div class="row"><p>Created: {{task.createdDate}}</p></div>
            <div class="row"><p>Updated: {{task.updateDate}}</p></div>
            <div class="row" *ngIf="isStatus.get('closed')"><p>Closed: {{task.closedDate}}</p></div>
          </div>
        </div>
      </div>
    </div>
    <h4>Comments:</h4>
    <div class="container">
      <div class="row">
          <textarea class="col-9"></textarea>
        <div class="col-3">
          <button type="button" class="btn btn-secondary">Add comment</button>
        </div>

      </div>
    </div>
    <div id = "buttons" class="container">
      <button class="btn btn-dark" (click)="saveChanges()">SaveChanges</button>
      <button id="secondButton" class="btn btn-dark" [routerLink]= "['/main']">Back to task table</button>
    </div>
  </form>
</div>
