<div class="m-3">
  <h2>{{task.project}}</h2>
  <form>
    <h4>Description</h4>
    <div class="row">
      <button type="button" class="btn btn-dark col" (click) = "inableWriteMode()">Edit</button>
      <button type="button" class="btn btn-dark col">Assign</button>
      <button type="button" class="btn btn-dark col">Start</button>
      <button type="button" class="btn btn-dark col">Resolve</button>
      <button type="button" class="btn btn-dark col">Ready to test</button>
      <button type="button" class="btn btn-dark col">ReOpen</button>
      <button type="button" class="btn btn-dark col" [routerLink]="['/main']">Close</button>
    </div>
    <h4>Details:</h4>
    <div [formGroup] = "formControl">
      <p>Priority: <select formControlName="priority">
        <option disabled="disabled">{{task.priority}}</option>
        <option *ngFor="let priority of taskPriority">{{priority.priority}}</option>
      </select> </p>
      <p>Status:  <select formControlName="status"><option *ngFor="let status of taskStatus">{{status.status}}</option></select></p>
      <p>Assignee: <input placeholder="{{task.assignee}}" formControlName="assignee"></p>
      <p>Reported: <input placeholder="{{task.reporter}}" formControlName="reported"></p>
      <p> Estimation: <input placeholder="{{task.estimation}}" formControlName="estimation"></p>
    </div>
    <h4>Description:</h4>
    <div class="container">
      <div class="row">
        <textarea class="col" rows="10">

        </textarea>
        <div class="col">
          <div class="container">
            <div class="row"><p>Created: {{task.createdDate}}</p></div>
            <div class="row"><p>Updated: {{task.updateDate}}</p></div>
            <div class="row"><p>Resolved:</p></div>
            <div class="row"><p>Closed: <input></p></div>
          </div>
        </div>
      </div>
    </div>
    <h4>Attachments:</h4>
    <div class="container">
      <div class="row">
        <textarea class="col">

        </textarea>
      </div>
    </div>
    <h4>Comments:</h4>
    <div class="container">
      <div class="row">
          <textarea class="col-9">

          </textarea>
        <div class="col-3">
          <button type="button" class="btn btn-secondary">Add comment</button>
        </div>

      </div>
    </div>
    <div>
      <button (click)="saveChanges()">SaveChanges</button>
    </div>
  </form>
</div>
