<div>
  <div class="m-5 p-3">
    <div class="row">
      <div class="btn-group col">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newProject">New Project</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newUser">New User</button>
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#newTask">New Task</button>
      </div>
      <div class="col">
        <input class="form-control" id="myInput" type="text" placeholder="Filter">
      </div>
    </div>
    <div>
      <table class="table table-dark table-hover">
        <thead>
        <tr>
          <th *ngFor="let colTable of table">{{colTable}}</th>
        </tr>
        </thead>
        <tbody id="myTable">
        <tr *ngFor="let exam of exampleForTr">
          <th *ngFor="let project of exam">{{project}}</th>
          <th><button class="btn btn-light" [routerLink]="['/project-page']">Edit</button></th>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Modal -->
<div id="newProject" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2>New Project</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Code</p>
        <input>
        <p>Summary</p>
        <input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="newUser" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2>New User</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Personal Data</p>
        <input>
        <p>User Role</p>
        <select>
          <option *ngFor = "let role of userRole">{{role}}</option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

<div id="newTask" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2>Hew Task</h2>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <p>Project code</p>
        <input>
        <p>Description</p>
        <input>
        <p>Priority</p>
        <input>
        <p>Due Data</p>
        <input>
        <p>Estimation</p>
        <input>
        <p>Assignee</p>
        <input>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>



