<div>
  <div class="form-group">
    <button [routerLink]="['/new-project']">New Project</button>
    <button [routerLink]="['/new-user']">New User</button>
    <button [routerLink]="['/new-task']">New Task</button>
  </div>
<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Project code</th>
        <th>Task</th>
        <th>Priority</th>
        <th>Status</th>
        <th>Created</th>
        <th>Updated</th>
        <th>Due Date</th>
        <th>Estimation</th>
        <th>Assignee</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>
</div>
