<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <h2>New User</h2>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <label for="firstName">Name</label>
    <input id = "firstName" class="form-control" name="name" [(ngModel)]="editableUser.firstName"/>
    <label for="secondName">Surname</label>
    <input id = "secondName" class="form-control" name="name" [(ngModel)]="editableUser.secondName"/>
    <label for = "email">Email</label>
    <input id = "email" type = "email" class="form-control" name="email" [(ngModel)]="editableUser.email" required />
    <label for = "password">Password</label>
    <input id = "password" type = "password" class="form-control" name="password" [(ngModel)]="editableUser.password" required />
    <label for = "role">User Role</label>
    <select id = "role" [(ngModel)]="editableUser.role">
      <option disabled="disabled">Выберете роль</option>
      <option [value]="role.role" *ngFor="let role of userRole">{{role.role}}</option>
    </select>
  </div>
  <div class="modal-footer">
    <button  (click)="saveNewUser()" type="button" class="btn btn-default" data-dismiss="modal">Create</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Close</button>
  </div>
</div>
