<div class="m-3 p-3">
  <form>
    <div class="form-row">
      <div class="col-sm-3">
        <label>Email</label>
        <input type="email" class="form-control" id="email" required="required"
               [(ngModel)]="user.email" name="email" #name="ngModel">
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-3" [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
        Email is required
      </div>
    </div>
    <div class="form-row">
      <div class="col-sm-3">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password">
      </div>
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button  class="btn btn-success" [routerLink]="['/main']">LogIn</button>
  </form>
</div>
